
doctype
html
    head
        title= "bug管理系统"
        link(rel="stylesheet", type="text/css",href="/libs/antd.min.css")
        link(rel="stylesheet", type="text/css",href="/libs/reset.css")
    body
        div#container
        script(src="/libs/jquery.min.js")
        script(src="/libs/jquery.cookie.js")
        script(src="/static/main.js")