header {
    width: 100%;
    height: 40px;
    background: #dcb67f;
    line-height: 40px;
}

.header {
    width: 1000px;
    margin: 0 auto;
}

#logout {
    width: 60px;
    text-align: center;
}

.contentBox {
    position: relative;
    width: 1000px;
    margin: 0 auto 45px auto;
    border: 1px solid #c1c1c1;
}

.pagination {
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 15px;
}
